*{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-align: center;
}

h2{
  font-size: 1.2em;
}

.App{
  height: 100vh;
  width: 100vw;
}

.content-box{
  background-color: #263238;
  height: 100%;
  width: 80%;
  float: left;
  border-right: 5px solid #546e7a;
  position: relative;
}

.info-box{
  background-color: teal;
  height: 100%;
  width: calc(20% - 5px);
  float: right;
}

.algo-select{
  height: 4%;
  width: 90%;
  margin-left: 5%;
  padding-right: 2%;
  outline:0px;
  border: none;
  background-color: #78909c;
}

input{
  margin-top: 4%;
  background-color: #546e7a;
  border: none;
  margin-left: 5%;
  width:90%;
  height: 3%;
}

input:focus{
  outline: none;
}

.bar-pannel{
  width: 90%;
  height: 95%;
  position: absolute;
  bottom: 0;
  margin-left: 5%;
  display:-moz-box; /* Firefox */
  display:-webkit-box; /* Safari and Chrome */
  display:box;
  -webkit-box-align:end;

}

.bar {
  background-color: white;
  border-radius: 2px 2px 0px 0px;
  display: inline-block;
  align-self: end;
  margin-right: 0.05%;
  margin-left: 0.05%;
  display: flex;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0.5em 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

a.button:hover{
  color: #000000;
  background-color: #FFFFFF;
}

table.darkTable {
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
  background: #888888;
}
table.darkTable thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table.darkTable tfoot td {
  font-size: 12px;
}